﻿body h1 {
	color: firebrick;
	font-size: 30px;
}

body h2 {
	color: firebrick;
	font-size: 25px;
}

body h3 {
	color: black;
	font-size: 20px;
}

body p {
	color: black;
	font-size: 15px;
}

body .top-bar {
	background-color: aliceblue;
}

	body .top-bar .main-bar {
		width: 100%;
		background-color: green;
		margin: auto;
		display: flex;
		flex-wrap: nowrap;
	}

		body .top-bar .main-bar .contact-left {
			flex-grow: 4;
			background-color: yellow;
			display: flex;
			gap: 20px;
		}

		body .top-bar .main-bar .contact-right {
			flex-grow: 2;
			background-color: palegreen;
			display: flex;
			justify-content: space-around;
		}

body .top-bar1 {
	background-color: aqua;
}

	body .top-bar1 .main-bar1 {
		width: 100%;
		margin: auto;
		display: flex;
		flex-wrap: nowrap;
	}

		body .top-bar1 .main-bar1 .contact-left1 {
			flex-grow: 3;
			display: flex;
		}

		body .top-bar1 .main-bar1 .contact-center1 {
			flex-grow: 3;
			display: flex;
			justify-content: space-around;
		}

		body .top-bar1 .main-bar1 .contact-right1 {
			flex-grow: 3;
			display: flex;
			justify-content: space-around;
		}

body .top-bar2 {
	background-color: aliceblue;
}

	body .top-bar2 .main-bar2 {
		width: 100%;
		margin: auto;
		display: flex;
		justify-content: center;
	}

		body .top-bar2 .main-bar2 .contact2 {
			display: flex;
		}

body .top-bar3 {
	background-color: aliceblue;
}

	body .top-bar3 .main-bar3 {
		width: 100%;
		margin: auto;
		display: flex;
		flex-wrap: nowrap;
	}

		body .top-bar3 .main-bar3 .contact-left3 {
			font-size: 20px;
			flex-grow: 4;
			display: flex;
			flex-direction: row;
		}

		body .top-bar3 .main-bar3 .contact-left3-left {
			color: brown;
			font-size: 20px;
			flex-grow: 3;
			display: flex;
			flex-direction: column;
		}

		body .top-bar3 .main-bar3 .contact-left3-right2 {
			flex-grow: 3;
			display: flex;
			flex-direction: column;
			flex-wrap: nowrap;
			gap: 20px;
		}

		body .top-bar3 .main-bar3 .contact-right3 {
			background-color: dimgray;
		}
